.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50px;
}

/* .box:nth-child(2) {
  align-self: center;
}

.box:nth-child(3) {
  align-self: flex-end;
} */

.box:nth-child(1) {
  order: 2;
}

.box:nth-child(2) {
  order: 1;
  align-self: center;
}

.box:nth-child(3) {
  order: 3;
}
